body{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    color: #526261;
}

body a{
    text-decoration: none;
    color: #6c63ff;
}

.form{
    margin: 5% auto;
    min-height: 500px;
    min-width: 300px;
    max-width: 450px;
    border-radius: 15px;
    padding-top: 60px;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}

table th{
    padding-bottom: 40px;
    padding-top: 10px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

table td{
    padding-bottom: 40px;
    padding-top: 10px;
}

.form label{
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.form input{
    background-color: #f6fffa;
    margin-left: 30px;
}

.form button{
    border-radius: 5px;
    border-color: #526261;
    padding: 5px 20px;
    background-color: #f6fffa;
}
